# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

.DS_Store

*.swp
__TwigTemplate*
/build/pear/*
/tests/code-coverage
.settings
.buildpath
.project
*.phar
/vendor/
