


/*------------------------------------------------------------------------------------------------------*/

/*[Logo]*/

#branding {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

/*------------------------------------------------------------------------------------------------------*/

/*Menu*/

#navigation {
    padding: 20px 0;
    width: 230px;
    margin: 0 auto;
    height: 1.5em;
}


/*------------------------------------------------------------------------------------------------------*/

/*Globals*/

#page {
    padding-top: 10px;
}
img {
    max-width: 100%;
}


/*------------------------------------------------------------------------------------------------------*/

/*Front Page*/
.front .more-link {
    padding-right: 10px;
}
.front .view-id-projects .view-content {
    padding-top: 20px;
}
.front .view-id-projects .views-row {
    padding-bottom: 15px;
}
.front h2.title {
    padding-top: 10px;
}
.front .field-name-body {
    /*float: right;*/
    /*width: 75%;*/
    font-size: 20px;
    padding: 10px 0 0 0;
    display: none;
}

.front .field-name-field-front-contact {
    /*padding: 20px 0;*/
    text-align: center;
    /*clear: both;*/
}
.front .group_about_me {
    clear: both;
}
.front .field-name-field-front-contact .field-item {
    padding: 0 20px 10px 0;
    float: left;
    
}
.front .field-name-field-front-bio {
    padding-top: 10px;
}
.front .views-row {
    margin: 0 auto;
    width: 80%;
}
.front .views-row.views-row-last {
    padding: 0;
}

/*------------------------------------------------------------------------------------------------------*/

#main-content {
    padding: 20px;
}


/*------------------------------------------------------------------------------------------------------*/

/*Portfolio View*/

.page-portfolio .views-row {
    /*vertical-align: top;*/
    width: 45%;
    padding-right: 5%;
    float: left;
    height: 300px;
}
.page-portfolio .views-row.odd {
    padding: 0;   
}
#page .node-resume .collumn div.field-label,
.view-id-resume h2.title {
    padding: 1em 0 .2em 0;
}
.node-resume .views-field-title {
    display: block;
}
/*------------------------------------------------------------------------------------------------------*/

/*Blog*/
.page-blog .views-row {
    padding-top: 20px;
}
.page-blog .views-field-body {
    max-width: 100%;
    overflow: hidden;
}

/*------------------------------------------------------------------------------------------------------*/

/*Project Node*/



.views-slideshow-pager-field-item img {
    margin: 3% 5% 10% 0;
    /*margin: 4px 15px 0 0;*/
    width: 30%;
    /*width: 22.5%;*/
    float: left;
}
#views_slideshow_pager_field_item_bottom_projects-entity_view_3_2 img {
    margin-right: 0;
}
.node-type-project .page-title {
    font-size: 2em;
    padding-bottom: 10px;
}
.node-type-project .group_project_overview {
    padding-top: 10px;
}

/*------------------------------------------------------------------------------------------------------*/

/*Related Projects*/

.node-type-project .view-id-projects.view-display-id-entity_view_2  .view-content {
    clear: both;
}

.node-type-project .view-id-projects.view-display-id-entity_view_2 .views-row {
    float: left;
    width: 30%;
    padding: 5% 3.33% 0 0;

}

/*------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------------*/