html {
    background-color: #eee;   
    font-weight: lighter;
}
body {
    width: 960px;
    margin: 0 auto;
    /*border: 3px solid #fff;*/
}
* {
    font-family: 'Fanwood Text', serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}
.html h1, .html h2, .html h3, h4, h5, h6, #page table {
    margin: 0 0;
    padding: 0 0;
}

h1, h2, h3, h4, h5, h6, #site-name span, h3 span, .field-label {
    font-family: Helvetica, arial, sans-serif;
    color: #CCC;
}
#page table {
    border-spacing: 0;
}

.html p {
    margin: 0 0 15px 0;
    
}
.html .item-list ul {
    margin: 0;
}
.messages {
    clear: both;
}
a {
    color: #AAA;
    text-decoration: none;
}
#page a:hover {
    
    color: #2473F5;
}
a:hover {
    text-decoration: none;
}

/*------------------------------------------------------------------------------------------------------*/

/*[Logo]*/

#site-name {
    height: 35px;
    color: #000;
}
#name-and-slogan #site-name a:hover {
    text-decoration: none;
    color: #2473F5;
}
#site-name  span {
    /*font-weight: bold;*/
    color: #000;
}
#site-name span:after,
#site-name span:before {
    color: #bbb;
    font-weight: 100;
    font-size: 24px;
    letter-spacing: 2px;
}
#site-name span:before {
    content: 'www.';
    padding-right: 5px;

}
#site-name span:after {
    content: '.com';
    padding-left: 5px;
}
#site-slogan {
    letter-spacing: 7px;
    font-size: 16px;
    font-variant: small-caps;
    text-align: center;
}

/*------------------------------------------------------------------------------------------------------*/

/*[Header]*/

#header {
    padding: 30px 0 60px 0;
    /*height: 300px;*/
}

/*------------------------------------------------------------------------------------------------------*/

/*[Menu]*/

#block-system-main-menu {
    float: right;
    /*width: 55%;*/
    text-align: right;
}
#block-system-main-menu ul li.leaf {
    list-style: none;
    float: right;
    padding: 10px 15px;
    border-left: 1px solid #AAA;
    
}
#block-system-main-menu ul li.leaf.last {
    border: none;
}
#block-system-main-menu  li a {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 22px;
    color: #000;
    height: 50px;
}
#block-system-main-menu  li a:hover {
    /*color: #999;*/
    color: #2473F5;
}
#block-system-main-menu  li.active-trail a {
    color: #2473F5;
}

#block-system-main-menu span.description {
    display: block;
    font-size: 14px;
    line-height: .6em;
    color: #AAA;1
}

#page .region-header {
    clear: none;
}
#block-system-main-menu ul {
    margin: 0;
    margin-top: 5px;
}

/*------------------------------------------------------------------------------------------------------*/

/*[Tabs]*/

.tabs {
    width: auto;
    float: right;
    text-align: right;
}

/*------------------------------------------------------------------------------------------------------*/

#page-title {
    border-bottom: 1px solid #AAA;
}


#page-title,
.front h2.title,
.front .group_about_me h3 span {
    font-size: 40px;
    line-height: 1em;
    font-weight: 100;
    color: #ccc;
   
}
.front h2.title,
.front .group_about_me h3 span{
    float: left;
    width: auto;
}


/*Page Sections*/

 {

}


/*------------------------------------------------------------------------------------------------------*/

/*[Front Page]*/

.front #page-title {
    border: none;
}

.front .field-name-body {
    float: right;
    width: 75%;
    font-size: 14px;
}

.front .view-id-projects {
    clear: both;
}
.front #main,
.front .view-id-projects {
    /*border-top: 1px solid #AAA;*/
    /*padding-top: 10px;*/
}
.front .view-id-projects .view-content{
    width: 75%;
    float: right;
}
.front .view-id-projects .views-field-field-project-overview {
    color: #999;
    font-family: Helvetics, Arial;
}
.front td {
    vertical-align: top;
    padding-right: 2.5%;
    width: 22.5%
}


.front .views-field-title a{
    color: #000;
    font-family: Helvetica;
}
.front .views-field-title a:hover{
    color: #2473F5;
    font-family: Helvetica;
}

.front .field-name-body {
    padding-bottom: 60px;
}

.front tr.row-last td {
    padding-bottom: 90px;
}
.front .group_about_me {
    clear: both;
    border-top: 1px solid #AAA;
    padding-top: 20px;
}
.front #page .field-name-field-front-profile-image,
.front #page .field-name-field-front-bio,
.front #page .field-name-field-front-contact {
    float: right;
    width: 22.5%;
    padding-right: 2.5%;
    clear: none;
}
#page .field-name-field-front-resume {
    width: 22.5%;
    clear: right;
}

.front .field-name-field-front-contact .field-label {
    color: #000;
    font-variant: small-caps;
    font-weight: lighter;
    font-size: 16px;
}
.front .field-name-field-front-contact .field-item {
    padding-top: 10px;
}
.views-field-field-project-image img {
    -webkit-box-shadow: 0px 0px 5px 0px #aaa;
    -moz-box-shadow: 0px 0px 5px 0px #aaa;
    box-shadow: 0px 0px 5px 0px #aaa;
}

/*------------------------------------------------------------------------------------------------------*/

/*[Fieldgroup Styles]*/

.field-group-format > h3 {
    font-weight: lighter;
    font-size: 26px;
    margin: 0;
    float: left;
    /*width: 200px;*/
    width: auto;
    /*padding-left: 5px;*/
}

/*------------------------------------------------------------------------------------------------------*/

/*[Project View]*/

.node-project h1.title {
    font-size: 30px;
    color: #2473F5;
    /*line-height: .8em;*/
    /*text-transform: uppercase;*/
    padding-left: 5px;
    font-size: 16px;
    /*border-top: 1px solid #000;*/
    /*padding: 10px 0;*/
    /*text-align: right;*/
    /*padding-left: 25%;*/
    font-family: 'Fanwood Text';
    font-variant: small-caps;
    font-size: 22px;
}
.node-project .field-group-format {
    border-top: 1px solid #aaa;
    width: 100%;
    clear: both;
    padding: 10px 0 0 0;
}
.node-project .field-group-format  > div {
    float: right;
    clear: right;
    width: 75%;
    padding-bottom: 30px;
    
}
.node-project div.field-name-field-facts {
    float: right;
    padding: 0 0 2.5% 2.5%;
    width: 22.5%;
    clear: none;
}
#main .node-project .field-group-format > div.field-name-body {
    clear: none;
    width: 50%;
}

.node-project .field-name-field-facts  .field-label {
    font-weight: lighter;
    font-variant: small-caps;
}

.field-name-field-facts .field-item {
    padding-top: 10px;
}

/*------------------------------------------------------------------------------------------------------*/

/*[Blog]*/

/*clears body content*/
.page-blog .region-content,
.node-type-blog .field-name-body {
    clear: both;
    /*padding-top: 60px;*/
    color: #555;
    padding-top: 10px;
}

/*------------------------------------------------------------------------------------------------------*/

/*[Blog View]*/

.page-blog #page-title {
    /*float: right;*/
    /*margin-top:-60px;*/
    /*padding-right: 15px;*/
    /*display: none;*/
    font-weight: lighter;
    /*font-family: 'Fanwood Text', serif;*/
    /*margin-left: -10px;*/
}
.page-blog .view-blog {
    width: 75%;
    float: left;
}
.page-blog .views-field-body {
    float: right;
    width: 70%;
    padding: 10px 30px 0 0;
}
.page-blog .views-field-title h3 {
    /*border-bottom: 1px solid #AAA;*/
    font-size: 24px;
    /*padding-bottom: 5px;*/
}
.page-blog .views-field-title a {
    color: #000;
    text-decoration: none;
    font-family: Helvetica, Arial;
    font-weight: lighter;
}
.page-blog .views-field-created {
    float: left;
    width: 25%;
    letter-spacing: 3px;
    font-size: 14px;
    padding-top: 10px;
}
.page-blog .views-row {
    clear: both;
    padding-top: 60px;
}
.page-blog .views-row-first {
    padding: 0;
}
/*------------------------------------------------------------------------------------------------------*/

/*[Blog Node]*/
.node-type-blog .views-field-body {
    padding-top: 10px;
}

/*------------------------------------------------------------------------------------------------------*/

/*[Portfolio Page]*/

.page-portfolio td {
    vertical-align: top;
    width: 22.5%;
    padding-right: 2.5%;
    padding-right: 18px;
}
.page-portfolio .content {
    clear: left;
    padding-top: 10px;
}
.page-portfolio h1#page-title {
    border-bottom: 1px solid #AAA;
    width: 100%;
}
.page-portfolio #page tr.col-last td {
    padding-right: 0;
}


/*------------------------------------------------------------------------------------------------------*/

/*[Resume]*/

.node-type-resume .node-resume .content {
    clear: both;
    border-top: 1px solid #aaa;
    /*padding-top: 20px;*/
}
.node-type-resume .field-group-format {
    clear: none;
}
.node-type-resume .field-name-field-resume-interests .field-items {
    padding-bottom: 30px;
}
.node-type-resume  .field-name-field-resume-education .field-items .field-item {
    width: 170px;
}
/*Top Section Content*/
.node-type-resume .collumn .field-items {
    float: right;
    width: 55%;
    clear: none;
}
/*Section Titles*/
.node-type-resume .collumn .field-label {
    width: 35%;
}
.node-type-resume #main .collumn div.field-label,
.view-id-resume h2.title {
    float: left;
    font-size: 28px;
    font-weight: lighter !important;
}
.node-type-resume .field .field-label {
    font-weight: lighter;
}

.node-type-resume .collumn .field {
    clear: both;
    padding-top: 30px;
}
.group_left_collumn,
.group_right_collumn {
    width: 45%;
    float: left;
    text-align: left;
    /*height: 400px;*/
}
.group_left_collumn {
    padding-right: 2.5%;
}
.group_right_collumn {
    padding-left: 2.5%;
    border-left: 1px solid #AAA;
}
.view-id-resume.view-display-id-entity_view_1,
.view-id-resume.view-display-id-entity_view_2 {
    clear: both;
    border-top: 1px solid #AAA;
    padding-top: 30px;
}
.view-id-resume.view-display-id-entity_view_1 h2.title,
.view-id-resume.view-display-id-entity_view_2 h2.title {
    width: 20%;
}
.node-type-resume .view-id-resume .view-content {
    float: right;
    width: 80%;
    clear: none;
}
.node-type-resume .views-field-title, views-field-field-employer, views-field-field-duration {
    font-size: 16px;
}
.node-type-resume .views-field-title {
    font-variant: small-caps;
    font-size: 18px;
}
.node-type-resume .views-field-field-employer a {
    color: #000;
}
.node-type-resume .views-field-field-employer:before {
    content: ' - ';
}
.node-type-resume p {
    margin: 0;
    padding: 0;
}
.node-type-resume .views-row {
    padding-bottom: 15px;
}
.node-type-resume .field-name-field-resume-pdf {
    clear: both;
}
/*pdf download link*/
.field-name-field-resume-pdf {
    border-top: 1px solid #AAA;
}
.field-name-field-resume-pdf  img {
    display: none;
}
.field-name-field-resume-pdf  a {
    font-family: Helvetica, Arial, sans-serrif;
    font-size: 30px;
    float: right;
    padding: 10px 10px 30px 0;
    color: #000;
}


/*------------------------------------------------------------------------------------------------------*/

/*[Related Projects]*/

.node-type-project .view-id-projects.view-display-id-entity_view_2 {
    clear: both;
    padding-top: 90px;
}
.node-type-project .view-id-projects.view-display-id-entity_view_2 .views-row,
.node-type-project .view-id-projects.view-display-id-entity_view_2 h2 {
    float: left;
    width: 22.5%;
    padding-right: 2.5%;
}
.node-type-project .view-id-projects.view-display-id-entity_view_2 h2 {
    font-family: 'Fanwood Text', serif;
    font-variant: small-caps;
    color: #000;
}

/*------------------------------------------------------------------------------------------------------*/

/*[Project]*/

.view-id-projects .views-field-title a{
    font-family: Helvetica, Arial;
    color: #000;
}
.view-id-projects .views-field-field-project-overview p {
    color: #888;
}
.view-id-projects td {
    padding-bottom: 30px;
}
#views_slideshow_cycle_main_projects-entity_view_3 {
    clear: none;
    float: left;
    
}
.views-slideshow-pager-field-item img {
    margin: 10px 2.5% 0 0;
    float: left;
}
#widget_pager_bottom_projects-entity_view_3 > div:last-child img{
    margin-right: 0;
}

/*------------------------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------------------------*/